flows SM.json
[
    {
        "id": "e36977cef48a05d5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7d1dbdc448484c95",
        "type": "ui_gauge",
        "z": "e36977cef48a05d5",
        "name": "",
        "group": "aec2848644a83fb7",
        "order": 1,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#02caf2",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "24",
        "seg2": "40",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 140,
        "wires": []
    },
    {
        "id": "2c0c51795cee270a",
        "type": "ui_switch",
        "z": "e36977cef48a05d5",
        "name": "LED_LIVING",
        "label": "LED",
        "tooltip": "",
        "group": "062f59fece69f02d",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 390,
        "y": 560,
        "wires": [
            [
                "386f198bc64753d9",
                "8ece880906193b9e"
            ]
        ]
    },
    {
        "id": "f2c2fbb98c39949f",
        "type": "ui_switch",
        "z": "e36977cef48a05d5",
        "name": "LED_BED",
        "label": "LED ",
        "tooltip": "",
        "group": "aec2848644a83fb7",
        "order": 4,
        "width": 2,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 390,
        "y": 480,
        "wires": [
            [
                "f7fcf35d40a7f3a9"
            ]
        ]
    },
    {
        "id": "b3ad5ab74b187578",
        "type": "ui_gauge",
        "z": "e36977cef48a05d5",
        "name": "",
        "group": "15fa43d94eeb6035",
        "order": 1,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Gas",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "500",
        "seg2": "1400",
        "diff": false,
        "className": "",
        "x": 610,
        "y": 220,
        "wires": []
    },
    {
        "id": "05f67c79077d3914",
        "type": "ui_gauge",
        "z": "e36977cef48a05d5",
        "name": "",
        "group": "aec2848644a83fb7",
        "order": 5,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ed4107",
            "#f3a012",
            "#00d8f5"
        ],
        "seg1": "20",
        "seg2": "50",
        "diff": false,
        "className": "",
        "x": 720,
        "y": 40,
        "wires": []
    },
    {
        "id": "239ca326246ba925",
        "type": "ui_switch",
        "z": "e36977cef48a05d5",
        "name": "LED_KITCHEN",
        "label": "LED",
        "tooltip": "",
        "group": "15fa43d94eeb6035",
        "order": 2,
        "width": 2,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 400,
        "y": 680,
        "wires": [
            [
                "bfd6c783452d6048"
            ]
        ]
    },
    {
        "id": "41818c1690c1454c",
        "type": "mqtt in",
        "z": "e36977cef48a05d5",
        "name": "Button BED",
        "topic": "Button1",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5de3ecd6b5d0a9dd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 480,
        "wires": [
            [
                "f2c2fbb98c39949f"
            ]
        ]
    },
    {
        "id": "f7fcf35d40a7f3a9",
        "type": "mqtt out",
        "z": "e36977cef48a05d5",
        "name": "LED_BED",
        "topic": "LED1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5de3ecd6b5d0a9dd",
        "x": 670,
        "y": 480,
        "wires": []
    },
    {
        "id": "5868bc2a95813427",
        "type": "function",
        "z": "e36977cef48a05d5",
        "name": "Warning Gas",
        "func": "const gas = msg.payload;\nif (gas > 700) {\n    msg.payload = \"Cảnh báo phát hiện có khí GAS \"\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 320,
        "wires": [
            [
                "11c86462958a974c",
                "ded585c62144d73e"
            ]
        ]
    },
    {
        "id": "8c5f332be9df19e4",
        "type": "function",
        "z": "e36977cef48a05d5",
        "name": "Get Gas",
        "func": "const gas = msg.payload.gas.toFixed(2);\nmsg.payload = gas;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 260,
        "wires": [
            [
                "b3ad5ab74b187578",
                "5868bc2a95813427"
            ]
        ]
    },
    {
        "id": "32e5c08baa4ce4b5",
        "type": "function",
        "z": "e36977cef48a05d5",
        "name": "Get Temperature",
        "func": "const temperature = msg.payload.temperature.toFixed(2);\nmsg.payload = temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 140,
        "wires": [
            [
                "7d1dbdc448484c95"
            ]
        ]
    },
    {
        "id": "d35628159f3f64cc",
        "type": "function",
        "z": "e36977cef48a05d5",
        "name": "Get Humidity",
        "func": "const humidity = msg.payload.humidity.toFixed(2);\nmsg.payload = humidity;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 40,
        "wires": [
            [
                "05f67c79077d3914"
            ]
        ]
    },
    {
        "id": "8ece880906193b9e",
        "type": "debug",
        "z": "e36977cef48a05d5",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 620,
        "wires": []
    },
    {
        "id": "a919e38552776435",
        "type": "mqtt in",
        "z": "e36977cef48a05d5",
        "name": "",
        "topic": "ESPValues",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5de3ecd6b5d0a9dd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 180,
        "wires": [
            [
                "32e5c08baa4ce4b5",
                "8c5f332be9df19e4",
                "d35628159f3f64cc"
            ]
        ]
    },
    {
        "id": "11c86462958a974c",
        "type": "ui_toast",
        "z": "e36977cef48a05d5",
        "position": "top right",
        "displayTime": "7",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 870,
        "y": 320,
        "wires": []
    },
    {
        "id": "181e2401d685541f",
        "type": "mqtt in",
        "z": "e36977cef48a05d5",
        "name": "Notify Pass or Warning",
        "topic": "Notify",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5de3ecd6b5d0a9dd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 760,
        "wires": [
            [
                "279d33fd13e796ed"
            ]
        ]
    },
    {
        "id": "279d33fd13e796ed",
        "type": "function",
        "z": "e36977cef48a05d5",
        "name": "Get correct/incorrect Password",
        "func": "const passPassword = msg.payload;\nif(passPassword)\n{\n    msg.payload = \"Correct Password and Someone is coming into your house \"\n    return msg;\n}\nelse \n{\n    msg.payload = \"Warning Incorrect Password! \"\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 760,
        "wires": [
            [
                "cb42869361231ca2",
                "3152c6238b2b145e"
            ]
        ]
    },
    {
        "id": "cb42869361231ca2",
        "type": "ui_toast",
        "z": "e36977cef48a05d5",
        "position": "top left",
        "displayTime": "7",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 810,
        "y": 760,
        "wires": []
    },
    {
        "id": "08368197a10c1ccd",
        "type": "mqtt in",
        "z": "e36977cef48a05d5",
        "name": "Button Kitchen",
        "topic": "Button3",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5de3ecd6b5d0a9dd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 680,
        "wires": [
            [
                "239ca326246ba925"
            ]
        ]
    },
    {
        "id": "de18e89ad2455c70",
        "type": "mqtt in",
        "z": "e36977cef48a05d5",
        "name": "Button Living",
        "topic": "Button2",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5de3ecd6b5d0a9dd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 560,
        "wires": [
            [
                "2c0c51795cee270a"
            ]
        ]
    },
    {
        "id": "386f198bc64753d9",
        "type": "mqtt out",
        "z": "e36977cef48a05d5",
        "name": "LED_LIVING",
        "topic": "LED2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5de3ecd6b5d0a9dd",
        "x": 670,
        "y": 560,
        "wires": []
    },
    {
        "id": "bfd6c783452d6048",
        "type": "mqtt out",
        "z": "e36977cef48a05d5",
        "name": "LED_KITCHEN",
        "topic": "LED3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5de3ecd6b5d0a9dd",
        "x": 680,
        "y": 680,
        "wires": []
    },
    {
        "id": "3152c6238b2b145e",
        "type": "debug",
        "z": "e36977cef48a05d5",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 840,
        "wires": []
    },
    {
        "id": "ded585c62144d73e",
        "type": "debug",
        "z": "e36977cef48a05d5",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 260,
        "wires": []
    },
    {
        "id": "8cdbeeaa133f97c6",
        "type": "ui_switch",
        "z": "e36977cef48a05d5",
        "name": "DOOR_GARAGE",
        "label": "DOOR",
        "tooltip": "",
        "group": "02d6cb3012698e49",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 400,
        "wires": [
            [
                "dfeb6387931f697d"
            ]
        ]
    },
    {
        "id": "7218ac0a7203f0f0",
        "type": "mqtt in",
        "z": "e36977cef48a05d5",
        "name": "Button Garage",
        "topic": "Garage",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5de3ecd6b5d0a9dd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 400,
        "wires": [
            [
                "8cdbeeaa133f97c6"
            ]
        ]
    },
    {
        "id": "dfeb6387931f697d",
        "type": "mqtt out",
        "z": "e36977cef48a05d5",
        "name": "DOOR_GARAGE",
        "topic": "GARA",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5de3ecd6b5d0a9dd",
        "x": 690,
        "y": 400,
        "wires": []
    },
    {
        "id": "6cafb826e26e3207",
        "type": "remote-access",
        "z": "e36977cef48a05d5",
        "confignode": "03e01d8c72fb5a24",
        "name": "",
        "verbose": 0,
        "x": 340,
        "y": 840,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9f629cadbe7df428",
        "type": "ui_spacer",
        "z": "e36977cef48a05d5",
        "name": "spacer",
        "group": "aec2848644a83fb7",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "07e0eecaeffe70f7",
        "type": "ui_spacer",
        "z": "e36977cef48a05d5",
        "name": "spacer",
        "group": "aec2848644a83fb7",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "1bf73688baa6e1f6",
        "type": "ui_spacer",
        "z": "e36977cef48a05d5",
        "name": "spacer",
        "group": "aec2848644a83fb7",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "8721aaa84fce4430",
        "type": "ui_spacer",
        "z": "e36977cef48a05d5",
        "name": "spacer",
        "group": "aec2848644a83fb7",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "3a32818a2b89b157",
        "type": "ui_spacer",
        "z": "e36977cef48a05d5",
        "name": "spacer",
        "group": "15fa43d94eeb6035",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "aec2848644a83fb7",
        "type": "ui_group",
        "name": "Bedroom",
        "tab": "128746c2206b212e",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "062f59fece69f02d",
        "type": "ui_group",
        "name": "Living room",
        "tab": "128746c2206b212e",
        "order": 3,
        "disp": true,
        "width": 2,
        "collapse": false,
        "className": ""
    },
    {
        "id": "15fa43d94eeb6035",
        "type": "ui_group",
        "name": "Kitchen",
        "tab": "128746c2206b212e",
        "order": 2,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5de3ecd6b5d0a9dd",
        "type": "mqtt-broker",
        "name": "Local Sever",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "02d6cb3012698e49",
        "type": "ui_group",
        "name": "Garage",
        "tab": "128746c2206b212e",
        "order": 4,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "03e01d8c72fb5a24",
        "type": "remote-config",
        "name": "Node-RED UI",
        "host": "localhost",
        "protocol": "http",
        "port": "1880",
        "baseurl": "/ui",
        "instancehash": "unfxo4hiat1km6c9n6esitqkevv0donb0w6ypk31yk5j2wbh1cebuk4b1rhq7jqt",
        "server": "nodered05.remote-red.com",
        "region": "sg"
    },
    {
        "id": "128746c2206b212e",
        "type": "ui_tab",
        "name": "Smart Home",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]